
{% extends 'layout.html' %}
{% block content %}
{% include 'fecha_actual.html' %}
<h1 class='title '>{{title}}</h1>

<p>{{mi_variable}}</p>

{% if nombre and nombre == 'Ricardo Lugo' %}
    <p>{{nombre}}</p>
{% else %}
    <strong> El nombre no existe</strong>
{% endif %}
<ul>
    {% for lenguaje in lenguajes %}
        <li>{{lenguaje}} | {{ forloop.first }} | {{ forloop.last }} | {{ forloop.counter}} | {{ forloop.counter0}} | {{ forloop.revcounter}} | {{ forloop.revcounter0}}</li>
    {% empty %}
        <p> NO EXISTEN LENGUAJEA </p>
    {% endfor %}
</ul>


<p>Año hasta el 2050:</p>
<ul>
{{2021|divisibleby:2}}
    {% for year in years %}
        {% if year|divisibleby:2 == True %}
            <li>{{year}}</li>
        {% endif %}
    {% endfor %}
</ul>



{% endblock %}