{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div id='logotipo'>
            <img src="{% static 'images/logo.png' %}" alt="">
            
            <h1>Sitio Web Django</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href='{% url 'inicio' %}'>Inicio</a>
            </li>
            <li>
                <a href='{% url 'hola_mundo' %}'>Hola Mundo</a>
            </li>
            <li>
                <a href='{% url 'pagina' %}'>Pruebas</a>
            </li>
            <li>
                <a href='{% url 'contacto' 'Ricardo' %}'>Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno"></span>
        <span class="esquina-derecha"></span>
    </div>
    
    
    
    
    <div id='content'>
        <div class="box">
            {% block content %}
           {% comment "aqui va el comentario" %}
            este es el comentario
            <h1>uuiyiuyuiyiuyiuyiu</h1>
           {% endcomment %}

            <!-- codigo que viene del template-->
            <strong>este es el contenido bloque</strong>
            {% endblock %}
        </div>
    </div>
    <footer>
        Master en python &copy; Ricardo Lugo
    </footer>

</body>

</html>